nav[b-mh3lx5gfsj] {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    float:right;
}

ul[b-mh3lx5gfsj] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li[b-mh3lx5gfsj] {
    float: left;
}

li a[b-mh3lx5gfsj] {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover[b-mh3lx5gfsj] {
    background-color: #111;
}