.Bot {
    bottom: 3.25em;
    display: grid;
}

.Mid {
    display: flex;
    margin-top: 5em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Top {
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btngroup {
    float: right;
}

.label {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.topbtn {
    margin: 0 2em;
    border: none;
    width: 100%;
    background-color: #482673;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1em;
}

.midbtn {
    margin: 0.5em 2em;
    border: none;
    width: 100%;
    background-color: #482673;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1em;
}

.botbtn {
    margin: 0 2em;
    border: none;
    background-color: #482673;
    color: white;
    width:20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
}

#sourceRtb {
    width: 74%;
    height: 300px;
    margin: 0.25em 1em 2em;
    background-color: #ECEFF1;
}

#destinationTbx {
    float: left;
    width: 74%;
    margin: 0.25em 1em 2em;
    background-color: #ECEFF1;
}

input[type=text] {
    float: left;
    outline: none;
    box-sizing: border-box;
    border: solid #482673;
}