@page "/CreateBackup"

<div class="wrapper">
    <a class="label">Destination Folder</a>
    <div class="Top">
        <input type="text" id="destinationTbx" name="sourceRtb">
        <div class="btngroup">
            <button class="midbtn">Add Folder</button><br>
        </div>
    </div>
    <a class="label">Source Folder</a>
    <div class="Mid">
        <input type="text" id="sourceRtb" name="sourceRtb">
        <div class="btngroup">
            <button class="midbtn">Add Folder</button><br>
            <button class="midbtn">Add File</button><br>
            <button class="midbtn">T.B.A</button><br>
            <button class="midbtn">Clear</button><br>
        </div>
    </div>
    <div class="Bot">
        <div style="width:70%;    margin: 1em auto;">
            <button class="botbtn">Start</button>
            <button class="botbtn">Load</button>
            <button class="botbtn">Save</button>
        </div>
    </div>
</div>