@page "/ImportBackup"

<div class="wrapper">
	<a class="label">Import Path</a>
	<input type="text" id="destinationTbx" name="destinationTbx">
	<a class="label">Content from Import</a>
	<input type="text" id="sourceRtb" name="sourceRtb">
</div>