@page "/ImportBackup"

<div class="wrapper">
	<div class="Top">
		<a class="label">Import Path</a>
		<input type="text" id="importTbx" name="importTbx">
		<br />
		<a class="label">Content from Import</a>
		<input type="text" id="contentRtb" name="contentRtb">
	</div>

	<div class="Bot">
		<div>
			<button class="botbtn">Import</button>
			<button class="botbtn">Save</button>
		</div>
	</div>
</div>