@page "/"

<div class="wrapper">
    <h1 class="Heading">Welcome to Simulcrum</h1>
    <div class="picture">
        <img src="~/favicon.png" />
    </div>
    <div class="infos">
        <div class=" mini-infos">
            <div style="border: solid #482673 0.0625em;">
                <h2>0</h2>
                <p>Backups executed</p>
            </div>
            <button style="margin-top:1em"><a href="CreateBackup">Create Backup</a></button>
        </div>
        <div class=" mini-infos">
            <div style="border: solid #482673 0.0625em;">
                <h2>0</h2>
                <p>Backupplans</p>
            </div>
            <button style="margin-top:1em"><a href="LoadBackup">Show Backups</a></button>
        </div>
    </div>
</div>