@page "/Home"

            <div class="container">
                <div class="picture">
                    <img src="~/resouces/img/kruemelmonster.jpg" alt="Mein Bild" />
                </div>
                <div class="infos">
                    <div class=" mini-infos">
                        <div style="border: solid black 0.0625em;">
                            <h2>0</h2>
                            <p>Backups executed</p>
                        </div>
                        <button style="margin-top:1em">Create Backup</button>
                    </div>
                    <div class=" mini-infos">
                        <div  style="border: solid black 0.0625em;">
                            <h2>0</h2>
                            <p>Backupplans</p>
                        </div>
                        <button style="margin-top:1em">Show Backups</button>
                    </div>
                </div>
            </div>