@page "/LoadBackup"

<div class="wrapper">
	<div class="Left">
		<button class="btn">Back</button><br>
	</div>
		<div class="Mid">
		<input type="text" id="loadRtb" name="sourceRtb">
	</div>
	<div class="Right">
			<button class="btn">Load</button><br>
			<button class="btn">Open Selected</button><br>
	</div>
</div>