:root[b-k2i4w6uhyp] {
    background-color: #F6EBF4;
}

button[b-k2i4w6uhyp] {
    border: none;
    background-color: #482673;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.5em auto;
    cursor: pointer;
    width: 100%;
    color: white;
    font-size: 1em;
}

.infos[b-k2i4w6uhyp] {
    display: flex;
    width: 35%;
    align-content: center;
    margin: auto;
}

.mini-infos[b-k2i4w6uhyp] {
    text-align: center;
    min-width: fit-content;
    padding: 0.5em 2em;
    margin: 0.5em 1em;
    width: 20em;
    height: 60%;
}