/* /Components/Layout/MainLayout.razor.rz.scp.css */
:root[b-q5dwqcikdv] {
    padding: 0;
    margin: 0;
    font-size: 2ch;
    font-family: Arial, Helvetica, sans-serif;
    color: #482673;
    background-color: #F6EBF4;
}

.page[b-q5dwqcikdv] {
    left: 0px;
    right: 0px;
    top: 0px;
}

main[b-q5dwqcikdv] {
    flex: 1;
}

.navbar[b-q5dwqcikdv] {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    min-width: 100%;
    background-color: #F6EBF4;
}

.container[b-q5dwqcikdv] {
    display: grid;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: auto;
    align-items: center;
    align-content: center;
}
/* /Components/Layout/NavMenu.razor.rz.scp.css */
nav[b-mh3lx5gfsj] {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    float: right;
    background-color: #F6EBF4;
    color: #482673;
}

ul[b-mh3lx5gfsj] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li[b-mh3lx5gfsj] {
    float: left;
}

    li a[b-mh3lx5gfsj] {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover[b-mh3lx5gfsj] {
            background-color: #482673;
            color: #F6EBF4;
        }
/* /Components/Pages/CreateBackup.razor.rz.scp.css */
.Bot[b-s2a0zosc6c] {
    bottom: 3.25em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Mid[b-s2a0zosc6c] {
    display: flex;
    margin-top: 5em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Top[b-s2a0zosc6c] {
    display: flex;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btngroup[b-s2a0zosc6c] {
    float: right;
}

.label[b-s2a0zosc6c] {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.topbtn[b-s2a0zosc6c] {
    margin: 0 2em;
    border: none;
    width: 100%;
    background-color: #482673;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1em;
}

.midbtn[b-s2a0zosc6c] {
    margin: 0.5em 2em;
    border: none;
    width: 100%;
    background-color: #482673;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1em;
}

.botbtn[b-s2a0zosc6c] {
    margin: 0 2em;
    border: none;
    background-color: #482673;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
}

#sourceRtb[b-s2a0zosc6c] {
    width: 74%;
    height: 300px;
    margin: 0.25em 1em 2em;
    background-color: #ECEFF1;
}

#destinationTbx[b-s2a0zosc6c] {
    float: left;
    width: 74%;
    margin: 0.25em 1em 2em;
    background-color: #ECEFF1;
}

input[type=text][b-s2a0zosc6c] {
    float: left;
    outline: none;
    box-sizing: border-box;
    border: solid #482673;
}
/* /Components/Pages/ImportBackup.razor.rz.scp.css */
.label[b-biahxzmvgt] {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.botbtn[b-biahxzmvgt] {
    margin: 0 2em;
    border: none;
    background-color: #482673;
    width:20%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1em 2em;
    font-size: 1em;
}

.Bot[b-biahxzmvgt] {
    bottom: 3.25em;
    display: grid;
}

#importTbx[b-biahxzmvgt] {
    width: 90%;
    margin: 0.25em 1em 2em;
    background-color: #ECEFF1;
}

#contentRtb[b-biahxzmvgt] {
    width: 90%;
    height: 300px;
    margin: 0.25em 1em 2em;
    background-color: #ECEFF1;
}
/* /Components/Pages/Lanigpage.razor.rz.scp.css */
:root[b-k2i4w6uhyp] {
    background-color: #F6EBF4;
}

.wrapper[b-k2i4w6uhyp]{
    text-align:center;
}

button[b-k2i4w6uhyp] {
    border: none;
    background-color: #482673;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.5em auto;
    cursor: pointer;
    width: 100%;
    color: white;
    font-size: 1em;
}

    button a[b-k2i4w6uhyp] {
        color: #F6EBF4;
        text-decoration:none;
    }

.infos[b-k2i4w6uhyp] {
    display: flex;
    width: 35%;
    align-content: center;
    margin: auto;
    justify-content: center;
}

.mini-infos[b-k2i4w6uhyp] {
    text-align: center;
    min-width: fit-content;
    padding: 0.5em 2em;
    margin: 0.5em 1em;
    width: 20em;
    height: 60%;
}
/* /Components/Pages/LoadBackup.razor.rz.scp.css */
.wrapper[b-mf2foozwgc] {
    display: flex;
    justify-content: center;
}

.Left[b-mf2foozwgc] {
    width: 25%;
    justify-content: center;
}

.Mid[b-mf2foozwgc] {
    width: 50%;
    justify-content: center;
}

.Right[b-mf2foozwgc] {
    float: right;
    width: 25%;
    justify-content: center;
}

.btn[b-mf2foozwgc] {
    margin: 0.5em 2em;
    border: none;
    width: 80%;
    background-color: #482673;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 1em;
}

#loadRtb[b-mf2foozwgc] {
    width: 100%;
    min-height: 35vw;
/*    margin: 1em 2em;*/
    background-color: #ECEFF1;
}
