/* /Components/Layout/MainLayout.razor.rz.scp.css */
:root[b-q5dwqcikdv] {
    padding: 0;
    margin: 0;
    font-size: 2ch;
    font-family: Arial, Helvetica, sans-serif;
    color: #2c3e50;
}

.page[b-q5dwqcikdv] {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

main[b-q5dwqcikdv] {
    flex: 1;
}

button[b-q5dwqcikdv] {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.navbar[b-q5dwqcikdv] {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    min-width: 100%;
    background-color: blue;
}

.container[b-q5dwqcikdv] {
    display: grid;
    flex-direction: column;
    min-height: 100%;
}
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.nav[b-mh3lx5gfsj] {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    float:center;
}

ul[b-mh3lx5gfsj] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li[b-mh3lx5gfsj] {
    float: left;
}

li a[b-mh3lx5gfsj] {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover[b-mh3lx5gfsj] {
    background-color: #111;
}
/* /Components/Pages/Lanigpage.razor.rz.scp.css */
button[b-k2i4w6uhyp] {
    border: none;
    background-color: #F06292;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.5em auto;
    cursor: pointer;
    width: 100%;
    color: white;
    font-size: 1em;
}

.container[b-k2i4w6uhyp] {
    display: grid;
    flex-direction: column;
    min-height: 100%;
}

.infos[b-k2i4w6uhyp] {
    display: flex;
    width: 35%;
    align-content: center;
    margin: auto;
}

.mini-infos[b-k2i4w6uhyp] {
    text-align: center;
    min-width: fit-content;
    padding: 0.5em 2em;
    margin: 0.5em 1em;
    width: 20em;
    height: 60%;
}
